<nav id="header">
    <a href="/">Home</a>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    {{#if flag}}
        <a href="/profile/{{idNum}}" id="profile">{{name}}</a>
        <a href="/logout">Logout</a>
    {{/if}}
</nav>
